name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-package:
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
        - '13.2.1' # Swift 5.5 (lowest)
        - '14.0.1' # Swift 5.7 (highest)
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Package
        run: bundle exec rake build:package

  build-epoxy-core:
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
        - '14.0.1' # Swift 5.7 (highest)
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build EpoxyCore
        run: bundle exec rake build:EpoxyCore

  build-example:
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
        - '13.2.1' # Swift 5.5 (lowest)
        - '14.0.1' # Swift 5.7 (highest)
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build iOS Example
        run: bundle exec rake build:example:iOS

build-example-macOS:
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
        - '13.2.1' # Swift 5.5 (lowest)
        - '14.0.1' # Swift 5.7 (highest)
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build macOS Example
        run: bundle exec rake build:example:macOS

  test-package:
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
        - '13.2.1' # Swift 5.5  (lowest)
        - '14.0.1' # Swift 5.7 (highest)
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Test Package
        run: bundle exec rake test:package

  lint-swift:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
      - name: Lint Swift
        run: bundle exec rake lint:swift

  lint-podspec:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
      - name: Lint Podspec
        run: bundle exec rake lint:podspec
