name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-package:
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
        - '12.5.1' # Swift 5.4
        - '13.2' # Swift 5.5
    steps:
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Package
        run: bundle exec rake build:package

  build-example:
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
        - '12.5.1' # Swift 5.4
        - '13.2' # Swift 5.5
    steps:
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Example
        run: bundle exec rake build:example

  test-package:
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
        - '12.5.1' # Swift 5.4
        - '13.2' # Swift 5.5
    steps:
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Test Package
        run: bundle exec rake test:package

  lint-swift:
    runs-on: macos-latest
    steps:
      - uses: ./.github/actions/setup
      - name: Lint Swift
        run: bundle exec rake lint:swift

  lint-podspec:
    runs-on: macos-latest
    steps:
      - uses: ./.github/actions/setup
      - name: Lint Podspec
        run: bundle exec rake lint:podspec
